 .cont{
     padding-top: 0px;
     position: absolute;
     width: 85%;
     height: 100%;
     left: 15%;
 }

 .warning{
      color: crimson;
 }

 .disabled{
     display: none;
 }
 #frontier
 {
     position: absolute;
     width: 15%;
     height: 100%;
     background-color: gray;
     float: left;
 }

 #inFace
 {
     padding-top: 0px;
     position: absolute;
     width: 85%;
     height: 100%;
     left: 15%;

 }



 ol{
     width: 100%;
     height: 90px;
 }
 li {

     font-size: 20px;

     /* style */
 }
 li.ac{
     float: right;
 }

 li.ab{
     margin-top: 20px;
 }

 span#cou{
     font-size: 20px;
 }

 .title{
     text-align: center;
     border-bottom-style:solid ;
 }

 #club{
     font-size: 80px;
 }

 #school{
     font-size: 40px;
 }

 #t1{
     font-size: 45px;
 }

 #s1{
     font-size: 30px;
 }
